@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-main: "Urbanist", sans-serif;
    --font-alt: "Manrope", sans-serif;
    --color-pm: 255 136 0; /* #ff8800 */
    --color-dark: 23 25 15; /* #17190F */
    --color-white: 228 228 228; /* #FFF */
    --color-gray: 126 113 106; /* #7e716a */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  font-size: 14px;
}

body {
  font-family: var(--font-alt);

  color: rgb(var(--color-white));
  letter-spacing: 0.0015em;

  background-color: rgb(var(--color-dark));
  margin: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  margin: 1rem 0;

  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: bold;
}

p,
b {
  text-wrap: pretty;
  font-family: var(--font-alt);
  font-size: 1rem;
  line-height: 1.8rem;
}

p {
  font-weight: normal;
  text-transform: none;

  color: rgb(var(--color-white));
}

a,
a:visited {
  text-decoration: underline;
  font-weight: unset;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swoop-in {
  position: relative;
  z-index: 0;

  overflow: hidden;

  transition: 0.4s ease;
}

.swoop-in:after {
  content: "";
  display: block;

  position: absolute;
  z-index: -1;
  left: -10%;
  bottom: 0%;

  height: 120%;
  width: 0;

  background: #0089ff;

  transform: skewX(15deg);
  transition: 0.3s ease;
}

.swoop-in:hover {
  background-color: transparent;
  cursor: pointer;
}

.swoop-in:hover:after {
  width: 120%;
}

.fullscreen {
  max-width: 100%;
  height: 100vh;
  max-height: 100%;

  padding: 128px 64px;

  @media screen and (max-width: 960px) {
    padding: 64px 32px;
  }
  @media screen and (max-width: 480px) {
    padding: 32px 16px;
  }
}

.main-grid {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}
